<h1 class= "text-center mt-4"> Alpha Bloggers</h1>

<div class="container">
  <% cache @users do %>
    <%  @users.each do |user| %>
      <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header">
               <%= link_to user.username, user_path(user),class: "link-info text-decoration-none" %>
            </div>
            <div class="card-body">
              <div>
                 <%= image_tag "dummy2.jpeg", class: "img-fluid rounded mx-auto d-block",style: 'height:10%;width:10%;' , alt: "dummy2"%>
              </div>
              <h5 class="card-title"><%= pluralize(user.articles.count,'article') %></h5>
              <p class="card-text text-start"><%= %></p>
              <%= link_to "View Profile", user_path(user), class: "btn btn-outline-success"%>
              <% if logged_in? %> 
                <% if user == current_user %>
                  <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-outline-primary"%>
                <% end %>
              
                <% if current_user.admin? %>
                  <%= link_to "Delete Profile", user_path(user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete account & associated profiles?"}%>
                <% end %>
              <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Joined <%= time_ago_in_words(user.created_at)%> ago</small> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
